html, body {
  width: 400px;
  line-height: 1.8;
}

.hidden {
  display: none;
}

li {
    margin-bottom: 5px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

summary {
    line-height: 1.8;
}


b {
    font-family: "Arial", Arial, Sans-serif;
    font-size: 3.5;
    line-height: 1.8;
}

p {
    font-family: "Arial", Arial, Sans-serif;
    line-height: 0.1;
}


.beast:hover {
  background-color: #CFF2F2;
}

.beast {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

.panel {
  padding: 5px;
}
